<div>
    <h2 id="page-heading">
        <span>Linea Pedidos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-linea-pedido" [routerLink]="['/linea-pedido/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Linea Pedido
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="lineaPedidos?.length === 0">
        <span>No lineaPedidos found</span>
    </div>
    <div class="table-responsive" *ngIf="lineaPedidos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cantidad"><span>Cantidad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="pedido.id"><span>Pedido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="producto.id"><span>Producto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let lineaPedido of lineaPedidos ;trackBy: trackId">
                <td><a [routerLink]="['/linea-pedido', lineaPedido.id, 'view' ]">{{lineaPedido.id}}</a></td>
                <td>{{lineaPedido.cantidad}}</td>
                <td>
                    <div *ngIf="lineaPedido.pedido">
                        <a [routerLink]="['/pedido', lineaPedido.pedido?.id, 'view' ]" >{{lineaPedido.pedido?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="lineaPedido.producto">
                        <a [routerLink]="['/producto', lineaPedido.producto?.id, 'view' ]" >{{lineaPedido.producto?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/linea-pedido', lineaPedido.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/linea-pedido', lineaPedido.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(lineaPedido)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
